@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --blue: #365fac;
  --grey: #404040;
  --medium-grey: #8c8c8c;
  --red: #ff1510;
  --soft-red: #fdecec;
  --soft-red2: #f9f3f3;
  --soft-green: #f1f5f1;
  --soft-grey: #b9b9b9;
  --white: #fafafa;

  --bug-label: #729f3f;
  --dark-label: #707070;
  --dragon-label: #f16e57;
  --electric-label: #eed535;
  --fairy-label: #fdb9e9;
  --flying-label: #3dc7ef;
  --fighting-label: #d56723;
  --fire-label: #fd7d24;
  --ghost-label: #7b62a3;
  --grass-label: #9bcc50;
  --ground-label: #f7de3f;
  --ice-label: #51c4e7;
  --normal-label: #a4acaf;
  --poison-label: #b97fc9;
  --psychic-label: #f366b9;
  --rock-label: #a38c21;
  --steel-label: #9eb7b8;
  --water-label: #4592c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body,
html,
button {
  height: 100%;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: var(--soft-green);
  min-height: 100vh;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 10rem);
  padding: 3rem 5rem;

  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    img {
      cursor: pointer;
    }

    h1 {
      color: var(--grey);
      text-align: center;
      text-transform: uppercase;
    }

    p {
      color: var(--medium-grey);
      text-align: center;
    }
  }

  #search-container {
    background-color: var(--white);
    border: 1px solid var(--blue);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    margin: 2rem 0;
    padding: 0 1rem;
    width: 60%;

    input {
      background-color: var(--white);
      border: none;
      border-radius: 2rem;
      color: var(--grey);
      flex: 1;
      font-family: inherit;
      font-size: 1rem;
      padding: 1rem;

      &::placeholder {
        color: var(--soft-grey);
      }
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      margin: 0;
      width: 20px;
      height: 20px;
      background-image: url("../assets/images/Search.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .pokemon-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-gap: 8rem;
    padding: 2rem 0;
    row-gap: 2rem;
    justify-content: center;

    .pokemon-content {
      background-color: var(--white);
      border-radius: 18px;
      padding: 2rem;
      text-align: center;
      width: 18.75rem;

      img {
        border-radius: 0.3125rem;
        width: 250px;
      }

      h2 {
        color: var(--grey);
        text-transform: capitalize;
      }

      .pokemon-information {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        span {
          color: var(--white);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 0.375rem;
          font-size: 0.875rem;
          font-weight: 400;
          width: 5rem;
          height: 2rem;
          text-align: center;
        }
      }
    }

    .add-button {
      border: 2px solid var(--blue);
      border-radius: 1rem;
      color: var(--grey);
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      padding: 0.5rem;
      width: 18.75rem;

      &:hover {
        background-color: var(--blue);
        color: var(--white);
      }

      &:disabled {
        background-color: var(--soft-grey);
        border: none;
        color: var(--medium-grey);
        cursor: not-allowed;
      }
    }
  }
}

footer {
  align-items: center;
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 10rem;
  width: 100%;
}
